EasyPayCliente/Connected Services/ServicioEasyPay/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55401/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55401/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55401/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EasyPay" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_guardarUsuarioReniec_InputMessage">
    <wsdl:part name="parameters" element="tns:guardarUsuarioReniec" />
  </wsdl:message>
  <wsdl:message name="IService1_guardarUsuarioReniec_OutputMessage">
    <wsdl:part name="parameters" element="tns:guardarUsuarioReniecResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_guardarEmpresaSunat_InputMessage">
    <wsdl:part name="parameters" element="tns:guardarEmpresaSunat" />
  </wsdl:message>
  <wsdl:message name="IService1_guardarEmpresaSunat_OutputMessage">
    <wsdl:part name="parameters" element="tns:guardarEmpresaSunatResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IService1_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_eliminarCuentaBancaria_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarCuentaBancaria" />
  </wsdl:message>
  <wsdl:message name="IService1_eliminarCuentaBancaria_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarCuentaBancariaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_eliminarTarjetaEasyPay_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarTarjetaEasyPay" />
  </wsdl:message>
  <wsdl:message name="IService1_eliminarTarjetaEasyPay_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarTarjetaEasyPayResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_insertarCuentaBancaria_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarCuentaBancaria" />
  </wsdl:message>
  <wsdl:message name="IService1_insertarCuentaBancaria_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarCuentaBancariaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_guardartarjeta_InputMessage">
    <wsdl:part name="parameters" element="tns:guardartarjeta" />
  </wsdl:message>
  <wsdl:message name="IService1_guardartarjeta_OutputMessage">
    <wsdl:part name="parameters" element="tns:guardartarjetaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_saldo_InputMessage">
    <wsdl:part name="parameters" element="tns:saldo" />
  </wsdl:message>
  <wsdl:message name="IService1_saldo_OutputMessage">
    <wsdl:part name="parameters" element="tns:saldoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_depositar_InputMessage">
    <wsdl:part name="parameters" element="tns:depositar" />
  </wsdl:message>
  <wsdl:message name="IService1_depositar_OutputMessage">
    <wsdl:part name="parameters" element="tns:depositarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_enviar_InputMessage">
    <wsdl:part name="parameters" element="tns:enviar" />
  </wsdl:message>
  <wsdl:message name="IService1_enviar_OutputMessage">
    <wsdl:part name="parameters" element="tns:enviarResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="guardarUsuarioReniec">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/guardarUsuarioReniec" message="tns:IService1_guardarUsuarioReniec_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/guardarUsuarioReniecResponse" message="tns:IService1_guardarUsuarioReniec_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="guardarEmpresaSunat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/guardarEmpresaSunat" message="tns:IService1_guardarEmpresaSunat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/guardarEmpresaSunatResponse" message="tns:IService1_guardarEmpresaSunat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/login" message="tns:IService1_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loginResponse" message="tns:IService1_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarCuentaBancaria">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/eliminarCuentaBancaria" message="tns:IService1_eliminarCuentaBancaria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/eliminarCuentaBancariaResponse" message="tns:IService1_eliminarCuentaBancaria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarTarjetaEasyPay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/eliminarTarjetaEasyPay" message="tns:IService1_eliminarTarjetaEasyPay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/eliminarTarjetaEasyPayResponse" message="tns:IService1_eliminarTarjetaEasyPay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarCuentaBancaria">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertarCuentaBancaria" message="tns:IService1_insertarCuentaBancaria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertarCuentaBancariaResponse" message="tns:IService1_insertarCuentaBancaria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="guardartarjeta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/guardartarjeta" message="tns:IService1_guardartarjeta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/guardartarjetaResponse" message="tns:IService1_guardartarjeta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saldo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/saldo" message="tns:IService1_saldo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/saldoResponse" message="tns:IService1_saldo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="depositar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/depositar" message="tns:IService1_depositar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/depositarResponse" message="tns:IService1_depositar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="enviar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/enviar" message="tns:IService1_enviar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/enviarResponse" message="tns:IService1_enviar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarUsuarioReniec">
      <soap:operation soapAction="http://tempuri.org/IService1/guardarUsuarioReniec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarEmpresaSunat">
      <soap:operation soapAction="http://tempuri.org/IService1/guardarEmpresaSunat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IService1/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarCuentaBancaria">
      <soap:operation soapAction="http://tempuri.org/IService1/eliminarCuentaBancaria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTarjetaEasyPay">
      <soap:operation soapAction="http://tempuri.org/IService1/eliminarTarjetaEasyPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarCuentaBancaria">
      <soap:operation soapAction="http://tempuri.org/IService1/insertarCuentaBancaria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardartarjeta">
      <soap:operation soapAction="http://tempuri.org/IService1/guardartarjeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saldo">
      <soap:operation soapAction="http://tempuri.org/IService1/saldo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="depositar">
      <soap:operation soapAction="http://tempuri.org/IService1/depositar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviar">
      <soap:operation soapAction="http://tempuri.org/IService1/enviar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:55401/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>