EasyPayCliente/Connected Services/ServicioEasyPay/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55401/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EasyPay" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EasyPay" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EasyPay" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarUsuarioReniec">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaNacimiento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarUsuarioReniecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guardarUsuarioReniecResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarEmpresaSunat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombrelegal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccioncorreoelectronico" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarEmpresaSunatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guardarEmpresaSunatResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarCuentaBancaria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumeroCuenta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarCuentaBancariaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarCuentaBancariaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarTarjetaEasyPay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nrotarjeta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dniusuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarTarjetaEasyPayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarTarjetaEasyPayResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarCuentaBancaria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroCuenta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoCuenta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RUC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoSwift" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarCuentaBancariaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarCuentaBancariaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardartarjeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nrotarjeta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipotarjeta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechavencimiento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoseguridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direcciontarjeta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dniusuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardartarjetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guardartarjetaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saldo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saldoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saldoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="depositar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nrotarjeta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cantidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="propietario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="depositarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="depositarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enviar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dniEmisor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dniReceptor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cantidad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enviarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enviarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>